* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("https://wallpaperaccess.com/full/85938.jpg");
  color: white;
  text-align: center;
}
h1 {
  font-size: 180px;
  text-align: center;
  font-weight: 500;
  font-style: italic;
}
#year {
  font-style: normal;
}
.container {
  background-color: rgba(0, 0, 0, 0.511);
  padding: 10px;
  margin: 140px;
  border: 2px solid;
  border-color: aliceblue;
  border-radius: 12px;
}
.time {
  margin: 80px;
  margin-left: 400px;
  display: flex;
  gap: 100px;
}
p,
h2 {
  font-size: 50px;
}
